name: Create Release and Build Binaries

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build for ${{ matrix.os }}/${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: ["linux", "windows", "darwin"]
        arch: ["amd64", "arm64"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Build and Package
        id: build-and-package
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
          PROJECT_NAME: ${{ github.event.repository.name }}
          TAG: ${{ github.ref_name }}
        run: |
          PACKAGE_DIR="${PROJECT_NAME}_${TAG}_${GOOS}_${GOARCH}"
          BINARY_BASE_NAME="${PROJECT_NAME}-${GOOS}-${GOARCH}"
          BINARY_FINAL_NAME="${BINARY_BASE_NAME}"

          BINARY_NAME_IN_PACKAGE="${PROJECT_NAME}"
          if [ "${GOOS}" = "windows" ]; then
            BINARY_NAME_IN_PACKAGE+=".exe"
            ARCHIVE_NAME="${PACKAGE_DIR}.zip"
          else
            ARCHIVE_NAME="${PACKAGE_DIR}.tar.gz"
          fi

          mkdir -p "${PACKAGE_DIR}"

          go build -ldflags="-s -w" -o "${PACKAGE_DIR}/${BINARY_NAME_IN_PACKAGE}" ./cmd

          cp config.yml participants.csv README.md "${PACKAGE_DIR}/"

          if [ "${GOOS}" = "windows" ]; then
            7z a "${ARCHIVE_NAME}" "${PACKAGE_DIR}"
          else
            tar -czvf "${ARCHIVE_NAME}" "${PACKAGE_DIR}"
          fi

          echo "asset_path=${ARCHIVE_NAME}" >> $GITHUB_OUTPUT

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-${{ matrix.os }}-${{ matrix.arch }}
          path: ${{ steps.build-and-package.outputs.asset_path }}

  create-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write

    steps:
      - name: Download all build artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts/

      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          generate_release_notes: true
          files: |
            artifacts/**/*
